*{margin:0px; padding:0px;}
body{background:#1b2022;}
.Divwrapper{background-image:url('Wimage/Blur background/21-09-18-images.jpg'); background-size:cover; background-repeat:no-repeat; width:100%;height:677px;}
.header_area {margin-top:0px;}
.header_main_area {
  width: 100%;

  position:;
  background:#d9e2e45e;

border-bottom: 1px solid #1b3f3f;
}
.container {
  width: 350px;
  margin: auto;
  background:;}
  
  
 .sec1{background:#272d2c88;}
 
 
 
 
 
 .divlog{text-align:center;display:;padding:10px;background:;border-radius:8px; color:white;}
.logcls{word-spacing:5px;transition:1s;margin:auto;margin-bottom:0px;padding:5px;margin-left:;font-size:16px;border-bottom:4px solid #fefefed7;border-top:4px solid #fefefed7;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
.accspn{letter-spacing:4px;}
.logcls:hover{background: linear-gradient(white,black);color:black;}
.logaa{color:white; text-decoration: none;}

 
 
 
 
 
 
  
.containerm {
  width: 300px;
  margin: auto;
  margin-top: 150px;margin-bottom:80px;
}
.p1{color: white;text-align: center;font-family: Sans-Serif;font-size: 20px;
}
.circle1{color: limegreen;background:white;border-radius:25px;}
.spnb{font-size:25px;}


.header_inner {
  
  display: table;
  padding: 0px;

  background: ;

  width: 350px;
  padding-bottom: 0px;
}
.logodiv {
  width: 140px;
  float: left;
}
.logoimg {
  width: 133px;
}
.navbar {
  width: 200px;
  float: right;
}
.navbar ul {
  line-height: 45px;
  float: right;
}
.navbar ul li {transform:rotate(-10deg);
  list-style: none;
  display: inline-block;
  padding: 2px 0px;
}
.navbar ul li a {
  box-shadow: -5px 5px 5px #000000;
  text-decoration: none;
  padding: 5px;
  color: #464646;
  font-size: 10px;
  background: #9ea8b0;
  font-family: Monaco;
  border-radius: 1.5px;
  transition: 0.5s;
  border: 1px solid #1b3f3f;
}
.navbar ul li a:hover {
  background:#212120;
  color: white;

}
.fornav{color:; background:;}
.fornav:hover{color:; background:;}





.footcopy {margin-top:163px;border-top:0.5px solid #92b2b389;
  background:#272d2c88;
  color: white;
  padding: 5px;
  height: 30px;

}
.footh5 {

  text-align: center;
  font-family: Sans-Serif;
  line-height: 35px;